@model List<TaskTracker.Models.TaskModel>

@{
    ViewData["Title"] = "Task List";
}

<div class="container">
    <h2>Task List</h2>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">@TempData["Message"]</div>
    }

    <a href="@Url.Action("Create")" class="btn">Add New Task</a>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Due Date</th>
                <th>Tags</th>
                <th>Status</th>
                 <th>Urgent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td data-label="Name">@task.Name</td>
                    <td data-label="Description">@task.Description</td>
                    <td data-label="Priority">@task.Priority</td>
                    <td data-label="Due Date">@task.DueDate.ToShortDateString()</td>
                    <td data-label="Tags">@task.Tags</td>
                    <td data-label="Status">@(task.IsCompleted ? "Completed" : "Pending")</td>
                      <td data-label="Urgent">
                @if (task.IsUrgent)
                {
                    <span style="color: red; font-weight: bold;">🚨 Yes</span>
                }
                else
                {
                    <span>No</span>
                }
            </td>
                    <td class="action-buttons">
                        <a href="@Url.Action("Edit", new { id = task.Id })" class="btn-warning">Edit</a>
                        <a href="@Url.Action("Delete", new { id = task.Id })" class="btn-danger">Delete</a>
                        @if (!task.IsCompleted)
                        {
                            <a href="@Url.Action("Complete", new { id = task.Id })" class="btn-success">Complete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
  

</div>

  <div class="alert alert-info">
    <strong>Total Tasks:</strong> @ViewData["TaskCount"]
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}